@import './mixins.scss';

.customersWrap {
    max-width: 1141px;
    margin: 0 auto;
    margin-bottom: 186px;
    h1 {
        color: var(--white);
        margin-bottom: 84px;
        @include adaptiv-font(80, 15);
    }

    article {
        display: flex;
        gap: 10%;

        .customersInfo {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .textBlock {
            max-width: 541px;
            width: 100%;
            height: 400px;
            border-radius: 15px;
            color: var(--textDark);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 77px;
            background: radial-gradient(
                    98.33% 98.33% at 50% 50%,
                    rgba(0, 56, 255, 0.2) 0%,
                    rgba(248, 230, 255, 0.03) 100%
                ),
                #fff;

            p {
                @include adaptiv-font(20, 9);
                line-height: 24px;
                max-width: 407px;
            }

            hr {
                max-width: 400px;
                width: 100%;
                margin: 0;
                margin-left: 20px;
                height: 1px;
                border: none;
                background-color: var(--textGrey);
                color: var(--textGrey);
            }
        }
    }
    @media (max-width: 886px) {
        h1 {
            margin-bottom: 50px;
        }
        article {
            display: flex;
            flex-direction: column;
            align-items: center;

            .customersInfo {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 12px;
            }
        }
    }
}
