header {
    max-width: 1440px;
    display: flex;
    align-items: center;
    gap: 25px;
    height: 90px;
    margin-bottom: 32px;
    position: sticky;
    background-color: var(--bgcDark);
    top: 0;
    z-index: 1000;

    .logo {
        span {
            font-size: 1.75rem;
            font-weight: 700;
            color: var(--white);
            margin-left: 7px;
        }
        cursor: pointer;
    }

    nav {
        color: var(--navGrey);
        flex: 1 0 auto;
        font-size: 1.25rem;

        ul {
            display: flex;
            gap: 25px;
            padding: 0;
            list-style: none;
            line-height: 28px;

            li {
                cursor: pointer;
            }
        }
    }

    @media (max-width: 768px) {
        button {
            white-space: nowrap;
            padding: 10px 30px !important;
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                font-size: 1.25rem;
            }
        }

        nav {
            font-size: 1rem;
        }
    }

    @media (max-width: 425px) {
        gap: 10px;
        button {
            padding: 5px 20px !important;
            font-size: 1rem !important;
        }

        .logo {
            span {
                display: none;
            }
        }

        nav {
            font-size: 0.8rem;

            ul {
                gap: 10px;
            }
        }
    }

    @media (max-width: 375px) {
        gap: 10px;
        button {
            padding: 5px 9px !important;
            font-size: 0.6rem !important;
        }

        nav {
            font-size: 0.6rem;

            ul {
                gap: 10px;
            }
        }
    }
}
