@import './mixins.scss';

.wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 186px;
    max-width: 1240px;

    h1 {
        color: var(--white);
        @include adaptiv-font(80, 44);
        line-height: 70px;
        margin-bottom: 45px;
    }

    p {
        @include adaptiv-font(26, 22);
        color: var(--textGrey);
        margin-bottom: 50px;
        line-height: 36px;
        max-width: 700px;
    }

    img {
        max-width: 50%;
        width: 100%;
        height: auto;

        @media (max-width: 768px) {
            height: max-content;
        }

        @media (max-width: 760px) {
            display: none;
        }
    }

    &#overview {
        display: none;
        background-color: #931717;
    }

    @media (max-width: 768px) {
        margin-left: 16px;
        align-items: center;

        h1 {
            text-align: center;
        }

        .info {
            display: flex;
            flex-direction: column;
        }
    }
}
