.wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 186px;
    max-width: 1240px;

    h1 {
        color: var(--white);
        line-height: 70px;
        margin-bottom: 45px;
    }

    p {
        font-size: 1.625rem;
        color: var(--textGrey);
        margin-bottom: 50px;
        line-height: 36px;
        max-width: 700px;
    }

    img {
        max-width: 50%;
        width: 100%;
        height: auto;

        @media (max-width: 768px) {
            height: max-content;
        }

        @media (max-width: 425px) {
            display: none;
        }
    }

    &#overview {
        display: none;
        background-color: #931717;
    }

    @media (max-width: 1024px) {
        h1 {
            font-size: 3.25rem;
        }
    }

    @media (max-width: 768px) {
        margin-left: 16px;
        align-items: center;
    }
}
