.featuresWrapper {
    width: 1240px;
    margin: 0 auto;
    height: 790px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 186px;

    & > * {
        width: 100%; // slider need 100% width
    }

    background: radial-gradient(
            98.33% 98.33% at 50% 50%,
            rgba(0, 56, 255, 0.2) 0%,
            rgba(248, 230, 255, 0.03) 100%
        ),
        #fff;

    .slider_dots {
        max-width: 0px;
        margin: 0px 40px;
        div {
            border: 1px solid #c2c2c2;
            height: 133px;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0px;
            }

            &.active {
                border: 1px solid #000000;
            }
        }
    }
}
