html {
    scroll-behavior: smooth;
}

:root {
    --white: #ffffff;
    --lightBlue: rgba(95, 129, 255, 1);
    --darkBlue: rgba(0, 56, 255, 1);
    --bgcDark: #252525;
    --textDark: #343434;
    --textGrey: #9a9a9a;
    --textLight: #e7e7e7;
    --navGrey: #d6d6d6;
}

body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    font-family: NunitoSans-Regular;
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bgcDark);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h1 {
    font-size: 5rem;
    line-height: 63px;
    color: var(--textDark);
    margin: 50px 0px 0px 0px;
}

@font-face {
    font-family: NunitoSans-Regular;
    src: url(./assets/fonts/NunitoSans_7pt-Regular.ttf);
}
