@import './mixins.scss';

.accordeon {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 40px;
    @include adaptiv-font(28, 10);
    line-height: 60px;
    border-radius: 15px;
    background: radial-gradient(
        77.29% 77.29% at 50% 50%,
        rgba(189, 0, 255, 0.2) 0%,
        rgba(189, 0, 255, 0) 100%
    );

    color: var(--textLight);
    .caption {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            transition: all 0.25s ease-in-out;
        }
    }
    .accordeonTogle {
        height: 0px;
        transition: height 0.25s ease-in-out;
        overflow: hidden;

        section {
            @include adaptiv-font(20, 6);
            max-width: 1006px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            gap: 24px;
            border-bottom: 1px solid #493550;

            &:last-child {
                border: none;
            }
            div {
                &:first-child {
                    border-right: 1px solid #493550;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 424px;
                    width: 100%;
                }
                &:last-child {
                    max-width: 582px;
                    width: 100%;
                }
            }
        }
    }
}
